# 操作系统文件
.DS_Store
Thumbs.db

# 编辑器配置
.vscode/
.idea/
*.swp
*.swo
*~

# 日志文件
*.log
logs/

# 临时文件
temp/
tmp/
*.tmp
images/
recordings/
test_keys/
logs_debug/

# 依赖目录
node_modules/
venv/
env/
__pycache__/
*.pyc

# 编译文件
*.o
*.exe
*.out
*.class

# 环境变量文件
.env
.env.local

# Arduino 敏感配置文件
**/secrets.h

# SSH 密钥
log-camera
log-camera.pub